[submodule "LLVMSwift"]
	path = LLVMSwift
  url = https://github.com/trill-lang/LLVMSwift.git
[submodule "TinyGC"]
	path = TinyGC
	url = https://github.com/ivmai/tinygc.git
[submodule "ClangSwift"]
	path = ClangSwift
	url = git@github.com:trill-lang/ClangSwift.git
